/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 1.50em;
}
.header {
    padding-top: 1%;
}

/* gray background color*/
footer {
  background-color: #d4d4d4;
  padding: 25px;
}

body{
    background-color: #fafafa;
}

.carousel-inner img 
{
   width: 70%;
   margin: auto;
}

#About.jumbotron {
    margin-top: 50px;
    background-color: #98b0b5;

}

#Renseignement.jumbotron {
    margin-top: 50px;
    background-color: #95c4a2;

}

.map-container-5{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.map-container-5 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.alert {
    font-size: 1.50em;

}

