/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 1.50em;
}
.header {
    padding-top: 1%;
}

/* gray background color*/
footer {
  background-color: #d4d4d4;
  padding: 25px;
}

body{
    background-color: #fafafa;
}

.carousel-inner img 
{
   width: 70%;
   margin: auto;
}

#About.jumbotron {
    margin-top: 50px;
    background-color: #98b0b5;

}

#Renseignement.jumbotron {
    margin-top: 50px;
    background-color: #95c4a2;

}

.map-container-5{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.map-container-5 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.alert {
    font-size: 1.50em;

}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}


#list_vendeur.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #F9E79F  !important; 
}


#supp_vendeur.jumbotron {
    background-color: #FCF3CF !important;

}

#suppr.container {
  margin-top: 50px;
}
